<!doctype html>
<html>

	<head>
		<title> Course Registration System </title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<!-- our stylesheet -->
		<link rel="stylesheet" href="style.css"/>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>		
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script type="application/javascript" src-"socket.io.js"></script>
		<script src="script.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
	</head>
	
	<body onload="Init()">
	    <div id="app">
		<div id="navigation">
                	<ul class="navigation">
                                <li class="navigation"> <a class="navigation" href="home.html"> Home </a>
                                <li class="navigation"> <a class="navigation" href="about.html"> About the Project </a>
                                <li class="navigation"> <a class="navigation" href="difference.html"> Differences </a>
                        </ul>
                </div>

		<h1 class="title">Course Registration System</h1>
		<h2 class="title" style="padding: 10px; font-size: 2rem;">University of St. Thomas</h2></br>
		<p class="error" id="invalidLogin">Invalid login credentials.</p>
		<p class="error" id="NaN">Please enter a valid university ID number.</p>
		<div class="loader" id="html-spinner"></div>

		<div id="box">
			<p> Username: <input type="text" id="username"/> <br/> </p>
			<p> Password: <input type="text" id="password"/> <br/> </p>
			<button type="button" onclick="fullPage()"/> Create New User </button>
			<button type="button" onclick="logIn()"/> Log In </button>
		</div>
		
		<div id="new">
			<p> First Name: <input type="text" id="firstName"/> <br/> </p>
			<p> Last Name: <input type="text" id="lastName"/> <br/> </p>
			<p> Username: <input type="text" id="new_username"/> <br/> </p>
			<p> Password: <input type="text" id="new_password"/> <br/> </p>
			<p> Category:
				<select id="position">
					<option id="student" value="Student">Student</option>
					<option id="faculty" value="Faculty">Faculty</option>
				</select>
			</p>			
			<button type="button"  id="createUser" onclick="newUser()"/> Create User </button>
		</div>

		
                <div id="profile">
                        <h2>User Profile</h2>
                        <button type="button" id="schedule" onclick="viewSchedule()">View Schedule</button>
                        <button type="button" id="wishlist" onclick="viewWishlist()">View Wishlist</button>
			<button type="button" id="goToSearch" onclick="goToSearch()">Go to Search</button>
		</div>

		<div id="scheduleInfo">
			<h2>Schedule</h2>
			<button type="button" id="returnToProfile" onclick="goToProfile()">Return to Profile</button>
			<div id="scheduleInfo" v-for="course in user.courses">
                                <br/>
                                <table id="schedule">
                                        <tr>
                                                <td> Course: {{course.subject}} {{course.course_number}} {{course.section_number}} </td>
                                        </tr>
                                        <tr>
                                                <td> Times: {{course.times}} </td>
                                        </tr>
                                        <tr>
                                                <td> <button type="button" id="scheduleDrop" onclick="dropFromSchedule()"> Drop </button> </td>
                                        </tr>
                                </table>
                        </div>
		</div>

		<div id="viewWishlist">
			<h2>Wishlist</h2>
			<button type="button" id="returnToProfile" onclick="goToProfile()">Return to Profile</button>
		</div>
		
		<div id="searchBox">

                	<button type="button" id="goToProfile" onclick="goToProfile()">User Profile</button>

		        <h1 id="header">Search Page<h1>
		
       			<h3>Departments: </h3>
        		<div v-for="depts in departments" style="display: inline-block; margin: 5px;">
                                <input type="checkbox" class="checkboxes" v-bind:id="depts+''" />
                                <span>{{depts}}</span>
                        </div>
        		<!--<input type="checkbox" id="departments" v-for="test in departments">{{test}}</in -->
        		<h3>Course Number (Optional): </h3> <input type="text" id="course_number"></input>
        		<h3>CRN (Optional): </h3> <input type="text" id="crn"></input></br></br>

        		<button type="button" id="search" onclick="search()">Search</button></br>

			<div id="loader">
				<img id="loadGif" src="loading.gif"></br>
			</div>
			
			<div id="search_results" style="visibility: hidden">

				<p class="error" id="alreadyRegistered">You have already registered for this course.</p>
				<p class="error" id="timeConflict">There is a time conflict with this course. </p>

       				<div id="additionalInfo">
	                		<p id="course_description"></p>
        			</div>

				<table id="courseTable" border="1">
                		<tr>
                        		<th>Subject</th>
                        		<th>Course Number</th>
                        		<th>Course Section</th>
		                        <th>Course Name</th>
                		        <th>Building</th>
		                        <th>Room</th>
                		        <th>Professors</th>
		                        <th>Credits</th>
                		        <th>CRN</th>
					<th>Registered</th>
                        		<th>Capacity</th>
                        		<th>Waitlist Count</th>
                		</tr>

                		<tr v-for="course in courses">
                       			<td> {{course.subject}} </td>
                        		<td> {{course.course_number}} </td>
		                        <td> {{course.section_number}} </td>
                		        <td> {{course.name}} </td>
		                        <td> {{course.building}} </td>
                		        <td> {{course.room}} </td>
		                        <td> {{course.professors}} </td>
                		        <td> {{course.credits}} </td>
		                        <td> {{course.crn}} </td>
					<td> {{course.registeredCount}} </td>
                		        <td> {{course.capacity}} </td>
		                        <td> {{course.waitlist_count}} </td>
                		</tr>
			</div>

		</div>	

		</div>
	
	</body>

</html>
