<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="style.css">
	<meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script type="application/javascript" src="script.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

	<title>Search</title>
</head>

<body onload="Init()">
    <div id="app">    

	<h1 id="header">Search Page<h1>

	<h3>Departments: </h3>
	<div v-for="depts in departments">
		<input type="checkbox" class="checkboxes" v-bind:id="depts+''" />
		<span>{{depts}}</span>
	</div>
	<!--<input type="checkbox" id="departments" v-for="test in departments">{{test}}</input>--> 
	<h3>Course Number (Optional): </h3> <input type="text" id="course_number"></input>
	<h3>CRN (Optional): </h3> <input type="text" id="crn"></input></br></br>

	<button type="button" id="search" onclick="search()">Search</button></br>

	<div id="additionalInfo">
		<p id="course_description"></p>
		
	</div>

	<table id="courseTable" border="1">
		<tr>
			<th>Subject</th>
			<th>Course Number</th>
			<th>Course Section</th>
			<th>Course Name</th>
			<th>Building</th>
			<th>Room</th>
			<th>Professors</th>
			<th>Credits</th>
			<th>CRN</th>
			<th>Capacity</th>
			<th>Waitlist Count</th>
		</tr>

		<tr v-for="course in courses">
			<td> {{course.subject}} </td>
			<td> {{course.course_number}} </td>
			<td> {{course.section_number}} </td>
			<td> {{course.name}} </td>
			<td> {{course.building}} </td>
			<td> {{course.room}} </td>
			<td> {{course.professors}} </td>
			<td> {{course.credits}} </td>
			<td> {{course.crn}} </td>
			<td> {{course.capacity}} </td>
			<td> {{course.waitlist_count}} </td>
		</tr>
	</table>
    </div>
</body>

</html>
